/*------ Variables --------*/
/*------ Mixins --------*/
/*------ Styles --------*/
.container {
  width: 100%;
  padding: 2%;
  margin: 0 1%; }
  .container .header {
    height: 5em;
    display: block;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); }
    .container .header .menu {
      height: 100%;
      width: 66%;
      display: inline-block; }
      .container .header .menu .menu-list {
        height: 100%;
        padding-left: 0px; }
        .container .header .menu .menu-list:after {
          display: block;
          clear: both; }
        .container .header .menu .menu-list > li {
          display: inline-block;
          position: relative; }
          .container .header .menu .menu-list > li:hover > a {
            background: #3661AF; }
          .container .header .menu .menu-list > li > a {
            display: inline-block;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); }
        .container .header .menu .menu-list li {
          font-size: .8em;
          margin: 1%;
          list-style: none;
          font-family: 'Times New Roman', Times, serif; }
          .container .header .menu .menu-list li:hover .sub-menu {
            z-index: 1;
            opacity: 1; }
          .container .header .menu .menu-list li:hover > a {
            text-decoration: none;
            color: #FFF; }
          .container .header .menu .menu-list li .sub-menu {
            width: 150%;
            padding: 1% 0;
            position: absolute;
            border-radius: .2em;
            top: 100%;
            left: 0px;
            z-index: -1;
            opacity: 0;
            transition: opacity linear 0.15s;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
            background: #3661AF; }
            .container .header .menu .menu-list li .sub-menu li {
              display: block;
              padding: 2%; }
              .container .header .menu .menu-list li .sub-menu li:hover {
                background: #0C3684; }
              .container .header .menu .menu-list li .sub-menu li a {
                color: #FFF;
                text-decoration: none; }
          .container .header .menu .menu-list li a {
            border-radius: .2em;
            color: #444;
            padding: 5% 7%;
            text-decoration: none;
            transition: all linear 0.15s;
            width: 100%; }
            .container .header .menu .menu-list li a .arrow {
              font-size: 0.8em;
              line-height: 0%; }
        .container .header .menu .menu-list > li:first-child {
          margin-left: 0px; }
    .container .header .search-form {
      width: 32%;
      padding: 2% 0 2% 1%;
      float: right; }
      .container .header .search-form form {
        height: 100%; }
        .container .header .search-form form input[type="text"] {
          width: 74%;
          height: 2em;
          font-size: .8em;
          border-radius: .8em 0 0 .8em; }
        .container .header .search-form form input[type="submit"] {
          width: 24%;
          background: #3661AF;
          color: #FFF;
          border-radius: 0 .8em .8em 0;
          height: 2.4em;
          font-size: .8em;
          padding: 1.5%; }
  .container .content {
    width: 100%;
    float: left;
    padding-top: 2%; }
    .container .content main {
      width: 62%;
      display: inline-block;
      border-right: 1px solid #999;
      padding-right: 3%; }
      .container .content main .blog-card {
        width: 100%;
        float: left;
        padding: 3% 0;
        border-bottom: 1px solid #999; }
        .container .content main .blog-card .blog-icon {
          width: 30%;
          float: left; }
          .container .content main .blog-card .blog-icon .blog-pic {
            display: inline-block;
            position: relative;
            width: 150px; }
            .container .content main .blog-card .blog-icon .blog-pic .pic-text {
              width: 100%;
              bottom: 0px;
              height: 25%;
              background: #3661AF;
              color: #FFF;
              position: absolute; }
              .container .content main .blog-card .blog-icon .blog-pic .pic-text h3 {
                text-align: center;
                position: relative;
                top: 6%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: perspective(1px) translateY(-50%); }
        .container .content main .blog-card .card-content {
          float: right;
          width: 70%; }
          .container .content main .blog-card .card-content h2 {
            font-size: 2em;
            margin-top: 0px;
            margin-bottom: 1%; }
          .container .content main .blog-card .card-content p span a {
            text-decoration: none; }
          .container .content main .blog-card .card-content .commentary > a, .container .content main .blog-card .card-content .commentary span, .container .content main .blog-card .card-content .author > a, .container .content main .blog-card .card-content .author span {
            float: right; }
    .container .content aside {
      width: 32%;
      float: right; }
      @media only screen and (max-width: 425px) {
        .container .content aside {
          width: 100%; } }
      .container .content aside .side-pic {
        border: 2px solid black;
        width: 98%;
        margin-bottom: 7%; }

/*# sourceMappingURL=sass-styles.css.map */
