/*------ Variables --------*/

$highlight: #3661AF;
$submenu-highlight: #0C3684;
$text: #444;
$highlight-text: #FFF;
$border: #999;
$break-large: 1024px;
$break-small: 425px; 

/*------ Mixins --------*/

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {@content}
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {@content}
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {@content}
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: $calculateRem($size);
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 6%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

/*------ Styles --------*/

.container {
  width: 100%;
  padding: 2%;
  margin: 0 1%;
  .header {
    height: 5em;
    display: block;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
    .menu {
      height: 100%;
      width: 66%;
      display: inline-block;
      .menu-list {
        height: 100%;
        padding-left: 0px;
        &:after {
          display: block;
          clear: both;
        }
        & > li {
          display: inline-block;
          position: relative;
          &:hover {
            & > a {
              background: $highlight;
            }
          }
          & > a {
            display: inline-block;
            text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
          }
        }
        li {
          font-size: .8em;
          margin: 1%;
          list-style: none;
          font-family: 'Times New Roman', Times, serif;
          &:hover {
            .sub-menu {
              z-index: 1;
              opacity: 1;
            }
            & > a {
              text-decoration: none;
              color: $highlight-text;
            }
          }
          .sub-menu {
            width: 150%;
            padding: 1% 0;
            position: absolute;
            border-radius: .2em;
            top: 100%;
            left: 0px;
            z-index: -1;
            opacity: 0;
            transition: opacity linear 0.15s;
            box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
            background: $highlight;
            li {
              display: block;
              padding: 2%;
              &:hover {
                background: $submenu-highlight;
              }
              a {
                color: $highlight-text;
                text-decoration: none;
              }
            }
          }
          a { 
            border-radius: .2em;  
            color: $text;
            padding: 5% 7%;
            text-decoration: none;
            transition: all linear 0.15s;
            width: 100%;
            .arrow {
              font-size: 0.8em;
              line-height: 0%;
            }
          }
        }
        & > li:first-child {
          margin-left: 0px;
        } 
      }
    }
    .search-form {
      width: 32%;
      padding: 2% 0 2% 1%;;
      float: right;
      form {
        height: 100%;
        input[type="text"] {
          width: 74%;
          height: 2em;
          font-size: .8em;
          border-radius: .8em 0 0 .8em;
        }
        input[type="submit"] {
          width: 24%;
          background: $highlight;
          color: $highlight-text;
          border-radius: 0 .8em .8em 0;
          height: 2.4em;
          font-size: .8em;
          padding: 1.5%;
        }
      }
    }
  }
  .content {
    width: 100%;
    float: left;
    padding-top: 2%;
    main {
      width: 62%;
      display: inline-block;
      border-right: 1px solid $border;
      padding-right: 3%; 
      .blog-card {
        width: 100%;
        float: left;
        padding: 3% 0;
        border-bottom: 1px solid $border;
        .blog-icon {
          width: 30%;
          float: left;
          .blog-pic {
            display: inline-block;
            position: relative;
            width: 150px;
            .pic-text {
              width: 100%;
              bottom: 0px;
              height: 25%;
              background: $highlight;
              color: $highlight-text;
              position: absolute;
              h3 {
                text-align: center;
                @include vertical-align();
              }
            }
          }
          
        }
        .card-content {
          float: right;
          width: 70%;
          h2 {
            font-size: 2em;
            margin-top: 0px;
            margin-bottom: 1%;
          }
          p span a {
            text-decoration: none;
          }
          .commentary, .author {
            & > a, span {
              float: right;
            }
          }
        }
      }
    }
    aside {
      width: 32%;
      float: right;
      @include respond-to(handhelds) {
        width: 100%;
      }
      
      .side-pic {
        border: 2px solid black;
        width: 98%;
        margin-bottom: 7%;
      }
    }
  }
}