/*------ Variables --------*/

$highlight: #3661AF;
$submenu-highlight: #0C3684;
$text: #444;
$highlight-text: #FFF;
$border: #999;
$break-xl: 1440px;
$break-large: 1024px;
$break-small: 425px; 

/*------ Mixins --------*/

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {@content}
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {@content}
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {@content}
  }
  @else if $media == xtra-wide {
    @media only screen and (min-width: $break-xl) {@content}
  }
}

@mixin centered($horizontal: true, $vertical: true) {
  position: relative;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%, 0%);
  } @else if ($vertical) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(0%, -50%);
  }
}

@mixin menu-hidden($direction) {
  padding: 1% 0;
  position: absolute;
  border-radius: .2em;
  z-index: -1;
  opacity: 0;
  transition: opacity linear 0.15s;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  background: $highlight;
  list-style: none;
  @if $direction == down {
    width: 205%;
    top: 100%;
    left: 0px;
  }
  @else if $direction == right {
    width: 100%;
    left: 100%;
  }
}

@mixin menu-show {
  z-index: 1;
  opacity: 1;
  li:hover {
    background: $submenu-highlight;
  }
}

/*------ Styles --------*/

body {
   -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} } 

.container {
  width: 95%;
  padding: 2%;
  margin: 0 1%;
  .header {
    height: 5em;
    display: block;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
    #nav {
      height: 100%;
      width: 25%;
      display: inline-block;
      position: relative;
      .menu-list {
        display: none;
        width: 100%;
        height: 100%;
        padding-left: 0px;
        list-style: none;
        &:after {
          display: block;
          clear: both;
        }
        @include respond-to(wide-screens) {display: inline-block;}
        &:last-child {
          padding-right: 0px;
          margin-right: 0px;
        }
        & > li {
          display: inline-block;
          position: relative;
          &:hover {
            & > a {
              background: $highlight;
            }
          }
          a {
            display: inline-block;
          }
        }
        li {
          font-size: .8em;
          margin: 1%;
          font-family: 'Times New Roman', Times, serif;
          @include respond-to(xtra-wide) {font-size: 1.2em;}
          &:hover {
            .sub-menu {
             @include menu-show();
            }
            a {
              color: $highlight-text;
            }
          }
          .sub-menu {
            @include menu-hidden(down);
            li {
              display: block;
              padding: 2%;
              .side-arrow {
                float: right;
              }
              .sub-sub-menu {
                @include menu-hidden(right);
              }
              &:hover {
                @include menu-show();
                
                .sub-sub-menu {
                  @include menu-show();
                }
              }
              a {
                color: $highlight-text;
                text-decoration: none;
              }
            }
          }
          a { 
            border-radius: .2em;  
            color: $text;
            text-decoration: none;
            transition: all linear 0.15s;
            width: 100%;
            .arrow {
              font-size: 0.8em;
              line-height: 0%;
            }
          }
        }
        & > li:first-child {
          margin-left: 0px;
        } 
      }

      input.trigger {
        position: absolute;
        top: -999px;
        left: -999px;
        &:checked ~ul, &:checked ~ul li ul {
          display: block !important;
          @include respond-to(wide-screens) {
            display: -webkit-box;
            display: -moz-box;
            display: box;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            box-orient: horizontal;

            display: flex;
            flex-direction: row;
          }
        }
      }

      label {
        position: relative;
        display: block;
        min-height: 2em;
        padding: .5em;
        font-size: 1.1em;
        margin: 0;
        cursor: pointer;
        line-height: 2em;
      }
      label:after {
        position: absolute;
        right: 1em;
        top: .2em;
        content: "\2261";
        font-size: 1.8em;
      }
      @include respond-to(wide-screens) {
        width: 66%;
        ul {
          display: -ms-flexbox;
          flex-direction: -ms-row;
          display: -webkit-box;
          display: -moz-box;
          display: box;

          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          box-orient: horizontal;

          display: flex;
          flex-direction: row;
          
          li {
            position: relative;
            text-align: center;

            -ms-flex: 1;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            box-flex: 1;

            flex: 1;

            ul {
              display:none !important;
              position:absolute;
              top:3.0625em;
              left:0;
              display:block;
              width: 12.5em;
                z-index:200;
                li {
                  text-align: left;
                  ul {
                    z-index: 300;
                    top: 0px;
                    left: 12.4em;
                  }
                }
            }
            &:hover > ul {
              display: block !important;
            }
          }
        }
        label {
          display: none;
        }
      }
    }

    .search-form {
      width: 60%;
      padding: 2% 0 2% 1%;;
      float: right;
      @include respond-to(wide-screens) {
        width: 33%;
      }
      form {
        height: 100%;
        input[type="text"] {
          width: 70%;
          height: 2em;
          font-size: .8em;
          border-radius: .8em 0 0 .8em;
        }
        input[type="submit"] {
          width: 24%;
          background: $highlight;
          color: $highlight-text;
          border-radius: 0 .8em .8em 0;
          height: 2.4em;
          font-size: .8em;
          padding: 1.5%;
        }
      }
    }
  }

  .content {
    width: 100%;
    float: left;
    padding-top: 2%;
    main {
      padding-right: 3%; 
      display: inline-block;
      @include respond-to(wide-screens) {
        width: 62%;
        border-right: 1px solid $border;
      }
      .blog-card {
        width: 100%;
        float: left;
        padding: 3% 0;
        border-bottom: 1px solid $border;
        position: relative;
        .icon-wrapper {
          width: 40%;
          @include centered(true, false);
          @include respond-to(wide-screens) {left: 20%;}
          .blog-icon {
            width: 100%;
            margin: 0 auto;
            @include respond-to(wide-screens) {width: 40%; float: left;}
            .blog-pic {
              background-image: url("http://placehold.it/200x150");
              display: inline-block;
              position: relative;
              width: 10em;
              height: 12em;
              @include respond-to(xtra-wide) {width: 13em;}
              .pic-text {
                width: 100%;
                bottom: 0px;
                height: 25%;
                background: $highlight;
                color: $highlight-text;
                position: absolute;
                h3 {
                  text-align: center;
                  margin: 0px;
                  @include centered;
                }
              }
            }
          }
        }
        .card-content {
          float: none;
          width: 100%;
          @include respond-to(wide-screens) {
            width: 72%;
            display: inline-block;
            float: right;
          }
          h2 {
            font-size: 2em;
            margin-top: 4%;
            margin-bottom: 1%;
            @include respond-to(wide-screens) {margin-top: 0%;}
          }
          p span a {
            text-decoration: none;
          }
          .commentary, .author {
            & > a, span {
              float: right;
            }
          }
        }
      }
    }
    .sidebar {
      width: 100%;
      margin-top: 6%;
      @include respond-to(wide-screens) {
        width: 32%;
        float: right;
        margin-top: 2%;
      }
      .side-pic {
        border: 2px solid black;
        width: 98%;
        height: 20em;
        margin-bottom: 7%;
        background-image: url("http://placehold.it/400x300")
      }
    }
  }
}